@import url(fonts.css);

/* root-start */
:root {
    --MR: Montserrat-Regular;
    --MM: Montserrat-Medium;
    --ML: Montserrat-Light;
    --MS: Montserrat-SemiBold;
    --SR: MarckScript-Regular;
    --white:#fff;
    --pink:#BF1E77;
    --grey:#545155;
    --bg-white:#FBF7F4;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
input{
    border-style: none;
}
/* root-end */
.pre-nav__top {
    width: 100%;
    height: 184px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
}

.pre-top__title {
    margin-top: 37px;
    color: var(--pink);
    font-family: var(--MR);
    font-size: 48px;
    line-height: 72px;
    /* 72px */
    text-transform: uppercase;
}

.pre-top__link {
    padding-right: 50px;
    padding-left: 27px;
    margin-top: 64px;
    color:var(--grey) ;
    font-family: var(--MS);
    font-size: 12px;
    line-height: 18px;
}

.pre-top__input {
    margin-top: 52px;
    display: flex;
    height: 40px;
    padding: 12px 16px;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 4px;
    background:var(--bg-white) ;
}

.pre-contact__title {
    padding-top: 48px;
    padding-left: 60px;
    color: var(--grey);
    font-family: var(--MS);
    font-size: 20px;
    line-height: 30px;
    /* 30px */
}

.pre-contact__text {
    color: var(--grey);
    font-family: var(--MR);
    font-size: 12px;
    line-height: 18px;
    padding-left: 111px;
}

.pre-top__icon {
    height: 10px;
    margin-left: 28px;
    margin-top: 50px;
}

.icon {
    padding: 10px 16px;
    color: var(--pink);
    font-size: 18px;
    transition: all 500ms;
}

.icon:hover {
    border-radius: 4px;
    background:var(--pink);
    color:var(--white);
}

/* pre-nav end */

.pre-nav__list {
    display: flex;
    justify-content: space-between;
}

.pre-nav__list-link {
    color: var(--grey);
    text-align: right;
    font-family: var(--MS);
    font-size: 16px;
    line-height: 24px;
    transition: all 500ms;
    position: relative;
}

.pre-nav__list-link:hover{
    color:var(--pink);
}

.pre-nav__list-link:hover.pre-nav__list-link::after {
    width: 100%;
}

.pre-nav__list-link::after {
    content: '';
    display: block;
    height: 2px;
    background: var(--pink);
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all 500ms;
}
/* pre-nav end */
/* nav-start*/
.nav{    
    margin-top: 35px;
    width: 100%;
    height: 52px;
    border-radius: 0px 0px 20px 0px;
    background:var(--bg-white);
}
.nav-list{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}
.nav-icon{   
    color:var(--pink);
    width: 16px;
    height: 16px;  
}
.nav-list__link{
    color: var(--grey);
    font-family:var(--MR);
    font-size: 12px;
    line-height:18px; 
    transition: all 500ms;
}
.nav-list__link:hover{
    color:var(--pink);   
}
/* nav-end */
.header-content {
    margin-top: 30px;
}

.header-content__bg {
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    max-width: 1770px;
    width: 100%;
    height: 595px;
}

.header-content__title {
    padding-top: 90px;
    max-width: 650px;
    width: 100%;
    height: 100px;
    position: relative;
    color:var(--pink);
    font-family: var(--MS);
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 105px */
}

.content-btn {
    position: relative;
    padding-top: 400px;
}

.btn-icon {
    font-size: 35px;
    background: rgba(200, 192, 184, 0.2);
    backdrop-filter: blur(18px);
    padding: 27px;
    border-radius: 10px;
}

.header-content__btn {
    color:var(--white);    
}
.header-content__text {
    display: flex;
    justify-content: space-between;
}
.content-text__left {
    position: relative;
    margin-top: 420px;
    color: var(--pink)  ;
    font-family: var(--MR);
    font-size: 48px;
    line-height:24px;
    text-transform: uppercase;
}
/* media-start */
@media(max-width:1050px){
    .pre-nav{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .pre-nav__top-first{
        display: flex;
    }
    .pre-top__title{
        font-size: 24px;
    }
   
    .pre-top__contact-title{        
        font-size: 16px;
    }
    .pre-top__contact-text{
        font-size: 10px;
    }
    .icon{
        margin-top: 15px;
        font-size: 16px;
    }
}
@media(max-width:870px){
    .pre-nav__top{
        max-width: 1140px;
        width: 100%;
    }
    .pre-nav__list{
        flex-wrap: wrap;
    }
    .pre-nav__list-link {
        font-size: 12px;
    }
    .nav-list{
        flex-wrap: wrap;
        gap: 10px;
    }
    
}
@media(max-width:1480px){ 
    .header-content__title{
        padding-top: 55px;
        max-width: 476px;
        width: 100%;
        font-size: 45px;
    }
    .content-text__left{
        font-size: 28px;
    }
    .btn-icon{
        font-size: 18px;
        padding: 17px;
    }
}
@media(max-width:1200px){

    .header-content__title{
        max-width: 476px;
        width: 100%;
        font-size: 35px;
    }
    .content-text__left{
        font-size: 25px;
    }
}
@media(max-width:750px){
    .header-content__title{
        max-width: 476px;
        width: 100%;
        font-size: 35px;
    }
    .content-text__left{
        font-size: 25px;
    }
}
@media(max-width:690px){
    .header-content__title{
        margin-top: -30px;
        max-width: 276px;
        width: 100%;
        font-size: 25px;
    }
    .content-text__left{
        font-size: 15px;
    }
    .btn-icon{
        padding: 17px;
        font-size: 8px; 
    }
}
@media(max-width:440px){
    .header-content__title{
        margin-top: -30px;
        max-width: 126px;
        width: 100%;
        font-size: 15px;
    }
        .btn-icon{
        padding: 10px;
        font-size: 8px;
    }
}
