@import url(../fonts.css);

/* root-start */
:root {
    --Montserrat-Regular: 'Montserrat-Regular';
    --Montserrat-Medium: 'Montserrat-Medium';
    --Montserrat-Light: 'Montserrat-Light';
    --Montserrat-SemiBold: 'Montserrat-SemiBold';
    --MarckScript-Regular: 'MarckScript-Regular';
    --white: #fff;
    --pink: #BF1E77;
    --grey: #545155;
    --bg-white: #FBF7F4;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
input{
    border-style: none;
}
/* root-end */
.pre-nav__top {
    width: 100%;
    height: 184px;
    background:var(--white);
    display: flex;
    justify-content: space-between;
}

.pre-top__title {
    margin-top: 37px;
    color: var(--pink);
    font-family: var(--Montserrat-Regular);
    font-size: 48px;
    line-height: 72px;
    /* 72px */
    text-transform: uppercase;
}

.pre-top__link {
    padding-right: 50px;
    padding-left: 27px;
    margin-top: 64px;
    color: var(--grey);
    font-family: var(--Montserrat-SemiBold);
    font-size: 12px;
    line-height: 18px;
}

.pre-top__input {
    margin-top: 52px;
    display: flex;
    height: 40px;
    padding: 12px 16px;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 4px;
    background: var(--bg-white);
}

.pre-top__number-title {
    padding-top: 48px;
    padding-left: 60px;
    color: var(--grey);
    font-family: var(--Montserrat-SemiBold);
    font-size: 20px;
    line-height: 30px;
    /* 30px */
}

.pre-top__number-text {
    color:var(--grey);
    font-family: var(--Montserrat-Regular);
    font-size: 12px;
    line-height: 18px;
    padding-left: 111px;
}

.pre-top__icon {
    height: 10px;
    margin-left: 28px;
    margin-top: 50px;
}

.icon {
    padding: 10px 16px;
    color:var(--pink);
    font-size: 18px;
    transition: all 500ms;
}

.icon:hover {
    border-radius: 4px;
    background:var(--pink);
    color: var(--white);
}

/* pre-nav end */

.pre-nav__list {
    display: flex;
    justify-content: space-between;
}

.pre-nav__list-link {
    color:var(--grey);
    text-align: right;
    font-family: var(--Montserrat-SemiBold);
    font-size: 16px;
    line-height: 24px;
    transition: all 500ms;
    position: relative;
}

.pre-nav__list-link:hover {
    color:var(--pink);
}

.pre-nav__list-link:hover.pre-nav__list-link::after {
    width: 100%;
}

.pre-nav__list-link::after {
    content: '';
    display: block;
    height: 2px;
    background:var(--pink);
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all 500ms;
}

/* pre-nav end */

.nav {
    margin-top: 35px;
    width: 100%;
    height: 52px;
    border-radius: 0px 0px 20px 0px;
    background:var(--bg-white);
}

.nav-list {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.nav-icon {
    color:var(--pink);
    width: 16px;
    height: 16px;
}

.nav-list__link {
    color: var(--grey);
    font-family: var(--Montserrat-Regular);
    font-size: 12px;
    line-height: 18px;
    transition: all 500ms;
}

.nav-list__link:hover {
    color:var(--grey);
}

/* nav-end */
.header-content {
    display: flex;
}

.left-catalog__title {
    margin-top: 30px;
    color:var(--grey);
    font-family: var(--Montserrat-SemiBold);
    font-size: 48px;
    line-height: 74px;
    text-transform: uppercase;
}

.left-catalog__img {
    display: flex;
    flex-direction: column;
}

.left-img {
    border-radius: 15px;
    padding-top: 10px;
}

/* category */
.category-two__bg-title {
    text-align: center;
    color: var(--pink);
    font-family: var(--MarckScript-Regular);
    font-size: 168px;
    line-height: 252px;
}

.category-two__title {
    color: var(--grey);
    text-align: center;
    font-family: var(--Montserrat-Regular);
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
}

.item-one__img {
    max-width: 270px;
    width: 100%;
    height: 270px;
}

.item-one__title {
    color:var(--pink);
    font-family: var(--Montserrat-Regular);
    font-size: 18px;
    line-height: 36px;
}


.item-square__mean {
    color: var(--grey);
    font-family: var(--Montserrat-SemiBold);
    font-size: 16px;
    line-height: 24px;
}

.item-square__mean:nth-of-type(2) {
    margin-bottom: 16px;
    margin-top: 16px;
}

.item-square__mean span {
    color: var(--grey);
    font-family: var(--Montserrat-Regular);
    font-size: 16px;
    line-height: 150%;
    opacity: 0.5;
    margin-left: 10px;
}
.item-one__line {
    margin: 24px 0px;
    height: 1px;
    background:var(--pink);
    opacity: 0.4;    
}

.item-square__price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.item-price-box__inbox {
    display: flex;
    align-items: center;
}

.item-square__price {
    margin-right: 20px;
    color: var(--grey);
    font-family: var(--Montserrat-Medium);
    font-size: 24px;
    line-height: 150%;
}

.item-square__sale {
    color: var(--1, #545155);
    text-align: right;
    font-family: var(--Montserrat-Regular);
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
}

.item-square__purchase {
    padding-left: 0px;
    color: var(--pink);
    font-family: var(--Montserrat-Regular);
    font-size: 16px;
    line-height: 24px;
}

.category-two__item {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-top: 60px;
}

.category-two__min-title {
    margin-top: 24px;
    color: var(--pink);
    font-family: var(--Montserrat-Regular);
    font-size: 12px;
    line-height: 18px;
    opacity: 0.7;
}

.category-two__icon {
    color:var(--pink);
}

.category-two {
    margin-bottom: 90px;
}

.category-two__item-one {
    padding-left: 20px;
}