@import url(../fonts.css);

/* root-start */
:root {
    --MR: Montserrat-Regular;
    --MM: Montserrat-Medium;
    --ML: Montserrat-Light;
    --MS: Montserrat-SemiBold;
    --SR: MarckScript-Regular;
    --white: #fff;
    --pink: #BF1E77;
    --grey: #545155;
    --bg-white: #FBF7F4;
    --black: black;
    --blue: #6495ed;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
input{
    border-style: none;
}
/* root-end */
.pre-nav__top {
    width: 100%;
    height: 184px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
}

.pre-top__title {
    margin-top: 37px;
    color: var(--pink);
    font-family: var(--MR);
    font-size: 48px;
    line-height: 72px;
    /* 72px */
    text-transform: uppercase;
}

.pre-top__link {
    padding-right: 50px;
    padding-left: 27px;
    margin-top: 64px;
    color: var(--grey);
    font-family: var(--MS);
    font-size: 12px;
    line-height: 18px;
}

.pre-top__input {
    margin-top: 52px;
    display: flex;
    height: 40px;
    padding: 12px 16px;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 4px;
    background: var(--bg-white);
}

.pre-contact__title {
    padding-top: 48px;
    padding-left: 60px;
    color: var(--grey);
    font-family: var(--MS);
    font-size: 20px;
    line-height: 30px;
    /* 30px */
}

.pre-contact__text {
    color: var(--grey);
    font-family: var(--MR);
    font-size: 12px;
    line-height: 18px;
    padding-left: 111px;
}

.pre-top__icon {
    height: 10px;
    margin-left: 28px;
    margin-top: 50px;
}

.icon {
    padding: 10px 16px;
    color: var(--pink);
    font-size: 18px;
    transition: all 500ms;
}

.icon:hover {
    border-radius: 4px;
    background: var(--pink);
    color: var(--white);
}

/* pre-nav end */

.pre-nav__list {
    display: flex;
    justify-content: space-between;
}

.pre-nav__list-link {
    color: var(--grey);
    text-align: right;
    font-family: var(--MS);
    font-size: 16px;
    line-height: 24px;
    transition: all 500ms;
    position: relative;
}

.pre-nav__list-link:hover {
    color: var(--pink);
}

.pre-nav__list-link:hover.pre-nav__list-link::after {
    width: 100%;
}

.pre-nav__list-link::after {
    content: '';
    display: block;
    height: 2px;
    background: var(--pink);
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all 500ms;
}

/* pre-nav end */
/* nav-start*/
.nav {

    margin-top: 35px;
    width: 100%;
    height: 52px;
    border-radius: 0px 0px 20px 0px;
    background: var(--bg-white);
}

.nav-list {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.nav-icon {
    color: var(--pink);
    width: 16px;
    height: 16px;
}

.nav-list__link {
    color: var(--grey);
    font-family: var(--MR);
    font-size: 12px;
    line-height: 18px;
    transition: all 500ms;
}

.nav-list__link:hover {
    color: var(--pink);
}

/* nav-end */
/* header-content start */
.header-content {
    margin-top: 60px;
}

.header-content__item {
    display: flex;
    justify-content: space-between;
}

.header-content__title {
    color: var(--grey);
    font-family: var(--MS);
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
}

.header-content__min-title {
    margin-top: 30px;
    color: var(--pink);
    font-family: var(--MS);
    font-size: 24px;
    line-height: 36px;
}

.header-content__input {
    margin-top: 60px;
}

.input-title {
    color: var(--grey);
    font-family: var(--MS);
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}

.content-input {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.content-input__one {
    display: flex;
    max-width: 370px;
    width: 100%;
    height: 50px;
    padding: 12px 16px;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    background: var(--bg-white);
}

.content-input__two {
    display: flex;
    max-width: 370px;
    width: 100%;
    height: 50px;
    padding: 12px 16px;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    background: var(--bg-white);
}

.header-item__two {
    height: 180px;
    display: flex;
    width: 334px;
    padding: 20px 30px 30px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 10px;
    background: var(--bg-white);
}

.item-first__title {
    color: var(--pink);
    font-family: var(--MS);
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
}

.item-first__min-title {
    color: var(--grey);
    font-family: var(--MS);
    font-size: 16px;
    line-height: 24px;
}

.item-first__text {
    color: var(--grey);
    font-family: var(--MR);
    font-size: 16px;
    line-height: 24px;
    /* 24px */
}

.story {
    margin-top: 20px;
    display: flex;
    width: 334px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    background: var(--bg-white);
}

.story-title {
    color: var(--grey);
    font-family: var(--MS);
    font-size: 18px;
    line-height: 27px;
}

.story-line {
    max-width: 274px;
    width: 100%;
    height: 1px;
    opacity: 0.1;
    background: var(--pink);
}

.story-item {
    display: flex;
}

.story-item__text {
    padding-left: 24px;
}

.story-item__title {
    color: #545155;
    font-family: var(--MS);
    font-size: 12px;
    line-height: 18px;
}

.story-item__price {
    color: var(--grey);
    font-family: var(--MR);
    font-size: 16px;
    line-height: 24px;
}

.story-item__link {
    color: var(--pink);
    font-family: var(--MR);
    font-size: 12px;
    line-height: 18px;
}

.header-content__line {
    margin: 30px 0px;
    max-width: 770px;
    width: 100%;
    height: 1px;
    opacity: 0.1;
    background: var(--pink);
}

/* header-content end */
.content-end__title {
    color: #545155;
    font-family: var(--MS);
    font-size: 18px;
    line-height: 27px;
}

.content-end__text {
    margin-top: 10px;
    color: #545155;
    font-family: var(--MR);
    font-size: 12px;
    line-height: 18px;
}

.content-end__icons-first {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 370px;
    width: 100%;
    height: 50px;
    padding: 12px 16px;
    align-items: center;
    border-radius: 4px;
    border-radius: 4px;
    background: var(--bg-white);
    transition: all 500ms;
    border: 1px solid white;
}

.content-end__icons-first:hover {
    border-radius: 4px;
    border: 1px solid rgba(191, 30, 119, 0.40);
}

.icons-first__text {
    margin-right: 100px;
    color: var(--blue);
    font-family: var(--MR);
    font-size: 16px;
    line-height: 24px;
}

.icons-first__btn {
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(191, 30, 119, 0.09);
    gap: 10px;
    color: var(--pink);
    font-family: var(--MR);
    font-size: 12px;
    line-height: 18px;
}

.content-end__icons-btn {
    margin-top: 30px;
    max-width: 149px;
    width: 100%;
    display: flex;
    height: 50px;
    padding: 10px 30px 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    background: var(--pink);
    color:var(--white);
    font-family:var(--MR);
    font-size: 16px;
    line-height: 24px;
}